body {
  background-color: tomato;
}

canvas {
  width: 100%;
  height: 150px;
  position: fixed;
}

.is-rec {}

.not-rec {
  visibility: hidden;
}

.isLoading {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
}

.notLoading {
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  display: none;
}

#main {
  margin-top: 150px;
}

#header {
  margin-bottom: 40px;
}

#newRec {
  text-align: center;
}

h1 {
  font-size: 4em;
}

audio {
  margin: 10px;
}

button {
  width: 100px;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 20px;
  height: 22px;
  border-radius: 5px;
  background-color: tomato;
  border: 2px solid tomato;
  box-shadow: none;
}

audio, button {
  -moz-box-shadow: 2px 2px 4px 0px #006773;
  -webkit-box-shadow: 2px 2px 4px 0px #006773;
  box-shadow: 2px 2px 4px 0px #006773;
}

#recList {
  text-align: center;
  margin-bottom: 20px;
  bord
}

.round-button {
  width: 25%;
  margin-left: 20px;
  margin-right: 20px
}

.round-button-circle {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-radius: 100%;
  overflow: hidden;
  background: red;
  box-shadow: 0 0 3px gray;
}

.round-button-circle:hover {
  background: black;
}

.round-button a {
  float: left;
  width: 100%;
  padding-top: 50%;
  padding-bottom: 50%;
  line-height: 1em;
  margin-top: -0.5em;
  margin-left: 0px;
  text-align: center;
  color: #e2eaf3;
  font-family: Verdana;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

.butt {
  display: flex;
  margin-bottom: 50px;
}

.rec-con {
  margin: 5px;
  padding-bottom: 25px;
}

#rec {
  margin-top: 50px;
}

#upload {
  margin-left: 40px;
}

.led-red {
  margin: 0 auto;
  margin-top: 25px;
  width: 40px;
  height: 40px;
  background-color: tomato;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-moz-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-ms-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@-o-keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}

@keyframes blinkRed {
  from {
    background-color: #F00;
  }
  50% {
    background-color: #A00;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;
  }
  to {
    background-color: #F00;
  }
}
